body{
    margin: 0;
    padding-top: 300px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: darkturquoise;
    color: gainsboro;
    padding: 10px;
    border-style: inherit;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: darkcyan;
    color: wheat;
}